<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youmaidme">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_Activity">

        </activity>
        <activity android:name=".LogIn_Activity"
            android:label="Log In"
            android:parentActivityName=".Main_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.youmaidme.Main_Activity"
                />
        </activity>
        <activity android:name=".SignUp_Activity"
            android:label="Sign Up"
            android:parentActivityName=".LogIn_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.youmaidme.LogIn_Activity"/>
        </activity>
    </application>

</manifest>